.chatHeader{
    background-color: rebeccapurple;
    height: 50px;
    text-align: center;
    color: white;
    padding-top: 06px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.chatbody{
    height: 100%;
    width: 100%;
}

.chatFooter{
    overflow: none;
    background-color: rebeccapurple;
    position: fixed;
    width:100%;
    bottom: 0;
    left: 0;
}

.chatUl {
    display: block;
    overflow-y: auto;
  }

.first:first-child {
      margin-top: 58px;
  }

  .chatInput{
      color: white;
  }