.container{
    height: 400px;
}

.box{
    margin-top: 20px;
}

.imageloader{
    background: url('../../Assets/images/ws_The_Avengers_1366x768.jpg') no-repeat center center;
    width:100%;
    /* background-position-y: 0px; */
    height:350px;
}


@media only screen and (max-width: 480px){
    .firstbox{
        margin-top:25px !important;
    }
    
    .secondbox{
        margin-top: 25px !important;
    }
        .thirdbox {
        margin-top: 25px !important;
    }
        .fourthbox{
        margin-top: 25px !important;
    }

    .imageloader{
        background-size: 600px 500px !important;
        height: 300px;
    }
}

@media only screen and (max-width: 768px){
     .imageloader{
        background-size: 800px 400px;
    }
}